.App{
  text-align: center;
}

:root{
  --clr-btn-bg: linear-gradient(45deg,
  #270F36,
  #642B6B );
  --login-box-bg: radial-gradient(transparent,#270F36 );;
  --logout-btn: linear-gradient(45deg,
  #270F36,
  #642B6B );
  --logout-btn-hvr:linear-gradient(45deg,
  #642B6B,
  #270F36 );
  --clr-btn-hvr:linear-gradient(45deg,
  #642B6B,
  #270F36 );
  --icon-img: url(./images/icon.png);
  --backgrnd-img: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  --backgrnd-bdy-grd-crd: radial-gradient(
    transparent ,
    #270F36  );
  --backgrnd-bdy-grd-box:radial-gradient(
    transparent,
    #270F36 80%);
  --backgrnd-register2:radial-gradient(
    transparent,
    #270F36 );
  --input-clr:#380036;
  --backgrnd-crd-selected:radial-gradient(
    transparent,#642B6B,
    #270F36 );
  --brder-clr:#3a2b2b;
  
  --icon-fadein: url(./images/icon3.png);
  --scroll-br-thmb:#642B6B;
  --scroll-br-hl  :#270F36;
  --scroll-br-trk: #3a2b2b;
}

.buttonC{
  background-color: transparent;
  color:white;
  border: none;
  font-size: 1.5rem;
  position:absolute;
  right:10px;
  top:0;

}

.buttonC::before{
  content: "\2716";
}

.button {
  margin-left: 1%;
  margin-bottom: 2%;
  font-size: small;
}


.displayDays-container{
  display:inline-table;
  justify-content:space-around;
}

.displayDays{
  position: relative;
  display: inline-table;
}

.backgroundImg {
  background-image: var(--backgrnd-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  padding-bottom: 18%;
  min-width: 100%;
  min-height:100%;
}
.backgroundImgF{
  text-align: center; 
  background-image:var(--backgrnd-img);
  background-size: cover;
  box-sizing: border-box;
  min-width:100%;
  min-height:100%;
  padding-bottom:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;

}
.logo1{
  background-image: url(./images/icon.png);
  width: 275px;
  height: 270px;
}

.logo2{
  background-image: var(--icon-fadein);
  width: 275px;
  height: 270px;
}

.icon {
  background-image: url(./images/icon.png);
}

.input {
  padding:10px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 25px;
  border-style: outset;
  border: 2px solid var(--brder-clr);
  background:var(--input-clr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F8F0E3;
  font-size: 15px;
}
.inputC {
  padding:10px;
  width: 125px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border-style: outset;
  border: 2px solid var(--brder-clr);
  background:var(--input-clr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F8F0E3;
  font-size: 15px;
}
::-webkit-input-placeholder {
  color:#F8F0E3;
}

h1 {
  color: #F8F0E3;
  text-align: center;
  font-size: 3.5rem;
  font-stretch:wider;
}
h2 {
  color: #F8F0E3;
  text-align: center;
  font-size: 2.5rem;
  font-stretch:wider;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
  color: #F8F0E3;
  text-align: center;
  font-size: 1.5rem;
  font-stretch:wider;
}
label {
  color: #F8F0E3;
  text-align: center;
  font-size: 1.25rem;
  font-stretch:wider;
}

p {
  color: #F8F0E3;
  text-align: center;
  font-size: 0.75rem;
  font-stretch:wider;
}

.Register, .Login{
  text-align: center;
  background: var(--login-box-bg);
  width:25%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--brder-clr);
  border-style: outset;
  border-radius: 25px;
  margin-bottom: 20px;
  min-width: 250px;
  animation: taadaa 0.5s;
}
.Register2{
  text-align: center;
  background: var(--backgrnd-register2);
  width:35%;
  margin: auto;
  border: 1px solid var(--brder-clr);
  border-style: outset;
  border-radius: 15px;
  margin-bottom: 20px;
  min-width: 270px;
  position: relative;
  animation: cardIn 0.5s;
  z-index: 5;
  overflow:hidden;
}
.Register2::backdrop{
  content: "";
  background:black;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0%;
  left:0;
  z-index: unset;
}

.modalCover {
  top: 0;
  left: 0;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 3;
}

.cardContainerDisplay{
  background: var(--backgrnd-bdy-grd-crd);
  width: 135px;
  border: .5px solid var(--brder-clr);
  border-style: outset;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  position: relative; 
  margin-bottom:20px;
  animation: cardIn 0.5s;

}
.cardEditMode,.cardDelMode{
  background:var(--backgrnd-crd-selected);
  width: 135px;
  border: 2px solid var(--brder-clr);
  border-style: outset;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  position: relative; 
  margin-bottom:20px;

}


.button, .button1, .button2{
  background: var(--clr-btn-bg);
  border-radius: 15px;
  color:#fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  padding: 10px 25px;
  margin-top: 5%;
}

.button2{
  background: var(--logout-btn);
  border-radius: 15px;
  color:#fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  padding: 10px 25px;
  margin-top: 5%;
}

.button:hover, .button1:hover, .button2:hover{
  background: var(--clr-btn-hvr);
  border-radius: 15px;
  color:#fff;
  cursor:pointer;
}
.button2:hover{
  background: var(--logout-btn-hvr);
  border-radius: 15px;
  color:#fff;
  cursor:pointer;
}

.FrontPage{
  display:inline-block;
  text-align: center;
}
.box2{
  background: var(--backgrnd-bdy-grd-box);
  text-align: center;
  display:block;
  height: 30%;
  width: 70%;
  float:center;
  border: 1px solid var(--brder-clr);
  border-style: outset;
  border-radius: 15px;
  min-width: 250px;
  position: relative;
  z-index: 1;
}
.box{
  text-align: center;
  display:block;
  height: 250px;
  float:center;
  position: relative;
  
}
.logo1{
  position: relative;
  z-index:2;
  transition:.4s;
  transform-origin: 50%,50%;
  
}
.logo2{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index:3;
  opacity:1;
  transition: .5s;
  animation: taadaa 2s; 
}
.welcomeTitle{
  margin-top: 10%;
  animation: taadaa 2s; 
}

@keyframes taadaa { 
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes loginIn {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    display:block;
    opacity: 1;
  }
}

@keyframes loginOut {

  0%{
    display:block;
    opacity: 1;
  }
    100%{
    display: none;
    opacity: 0;
  }
}

@keyframes cardIn {

  0%{
    display:block;
    opacity: 0;
    transform: translateY(10px);
  }
    100%{
    display: none;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes cardOut {

  0%{
    display: none;
    opacity: 1;
    transform: translateY(0px);
  }
    100%{
    display:block;
    opacity: 0;
    transform: translateY(10px);
  }
}

select{
  padding:10px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 25px;
  border-style: outset;
  border: 2px solid var(--brder-clr);
  background:var(--input-clr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F8F0E3;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color:var(--scroll-br-trk);
}

::-webkit-scrollbar-thumb {
  background:var(--scroll-br-thmb);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:var(--scroll-br-hl);
  border-radius: 10px;
}

/*THEME STUFF*/
.bye {
  clip: rect( 0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow:hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

.color-picker >fieldset{
  border:0;
  position: relative;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  width:100px;
  margin-bottom: 10px;
  display:flex;
  gap:2rem;
  width:fit-content;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-inline: auto;
  min-width: 10px;
}

.color-picker input[type = "radio"]{
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
input[type="radio"]{
  
  width: 1rem;
  background-color:transparent;

}
.color-picker input[type = "radio"]:checked{
  background-color: var(--radio-color);
}


.color-picker input[type="radio"]#purple{
  --radio-color: purple;
}

.color-picker input[type="radio"]#aqua{
  --radio-color:aqua;
}
.color-picker input[type="radio"]#red{
  --radio-color:red;
}

.color-picker input[type="radio"]#black{
  --radio-color:black;
}

.color-picker>fieldset:hover{
  cursor:pointer;
}

.color-picker input:hover{
  cursor:pointer;
}

:root:has(#purple:checked){

}

:root:has(#red:checked){
  --clr-btn-bg:  linear-gradient(45deg,
 red,
 rgb(112, 0, 0) ) ;
  --backgrnd-img: url(https://wallpaper.dog/large/10933529.jpg);
  --backgrnd-bdy-grd-crd: radial-gradient(
  transparent ,
  #3a0505  );
  --backgrnd-bdy-grd-box:radial-gradient(
    transparent,
    #3a0505 80%);
  --clr-btn-hvr:linear-gradient(45deg,
    #3a0505,red);
  --backgrnd-register2:radial-gradient(
    transparent,
    #3a0505);
  --input-clr:#a31616;
  --backgrnd-crd-selected:radial-gradient(
    transparent,rgb(82, 8, 8),
    #a31616);
  --icon-img: url(./images/icon2.png);
  --scroll-br-thmb:red;
  --scroll-br-hl  :#a31616;
  --brder-clr:#c21515;
  --logout-btn: linear-gradient(45deg,
  red,
  rgb(112, 0, 0) ) ;
  --logout-btn-hvr:linear-gradient(45deg,
  #3a0505,red);


}

:root:has(#aqua:checked){
  --clr-btn-bg:  #82007D ;
  --backgrnd-img: url('https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg');
  --backgrnd-bdy-grd-crd: linear-gradient(45deg,
  #380036,
  #0CBABA );
  --backgrnd-bdy-grd-box:linear-gradient(45deg,
  #380036,
  #0CBABA );
  --clr-btn-hvr:#380036;
  --backgrnd-register2:linear-gradient(45deg,
  #380036,
  #0CBABA );
  --input-clr:#380036;
  --backgrnd-crd-selected:linear-gradient(45deg,
  #0CBABA ,#380036);
  --icon-img: url(./images/icon.png);
  --scroll-br-thmb: #0CBABA ;
  --scroll-br-hl  :#0c7aba ;
  --scroll-br-trk: #380036;
  --brder-clr:#0CBABA;
  --logout-btn: linear-gradient(45deg, #380036, #ec0707) ;
  --logout-btn-hvr:linear-gradient(45deg, #380036, #910101)

}

:root:has(#black:checked){
  --clr-btn-bg:  linear-gradient(45deg,
  #28122b ,
 black) ;
  --backgrnd-img: url(https://wallpapercrafter.com/desktop/14420-starry-sky-stars-shine-night-trees-starry-night-4k.jpg);
  --backgrnd-bdy-grd-crd: radial-gradient(
  transparent ,
  #28122b  );
  --backgrnd-bdy-grd-box:radial-gradient(
    transparent,
    #28122b 80%);
  --clr-btn-hvr:linear-gradient(45deg,
    black,#401C44);
  --backgrnd-register2:radial-gradient(
    transparent,
    #28122b );
  --input-clr:black;
  --scroll-br-trk:black;
  --backgrnd-crd-selected:radial-gradient(
    transparent,#28112b,black)
    ;
  --icon-img: url(./images/icon2.png);
  --scroll-br-thmb:#401C44;
  --scroll-br-hl  :#2a122c;
  --brder-clr:#461f49;
  --logout-btn: linear-gradient(45deg,
  #28122b ,
 black) ;
  --logout-btn-hvr:linear-gradient(45deg,
  black,#401C44);
}